.MainPageInfo {
    color: black;
    width: 100%;
    margin-top: 90px;
}

.MainPageInfo_FirstContainer {
    margin-bottom:150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.MainPageInfo_FC_RightSide_Cup {
    max-width: 585px;
    max-height: 435px;
    transform: rotate(-10deg);
}

.MainPageInfo_FC_Title {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg, #221004, #884010);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MainPageInfo_FC_SecondTitle {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #221004;
}

.MainPageInfo_FC_Text {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #221004;
}
.MainPageInfo_FC_Buttons{
    display: flex;
}

.MainPageInfo_LoginButton {
    padding: 18px 25px;
    background-color: #FFF9F1;
    color: #734022;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: 2px solid #734022;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
}



.MainPageInfo_SecondContainer {
    margin-top: 350px;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}
.MainPageOurProducts_Info{
    text-align: center;
}

.MainPageInfo_SC_Title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #221004;
}

.MainPageInfo_SC_Text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #221004;
}

.booking-form{
    align-items:center;
    display: flex;
    flex-direction:column;
}